<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.af.blog.mapper.TagMapper">

    <insert id="createTag" parameterType="string">
        insert into myblog.t_tag(tag_name) values (#{tagName})
    </insert>

    <select id="selectAllTags" resultType="Tag">
        select tag_id, tag_name from myblog.t_tag
    </select>

    <update id="updateTagById" parameterType="Tag">
        update t_tag
        <set>
            <if test="tagName != null">
                tag_name = #{tagName}
            </if>
        </set>
        where tag_id = #{tagId}
    </update>

    <select id="selectTagById" resultType="tag">
        select tag_id, tag_name from t_tag where tag_id = #{tagId}
    </select>

    <select id="isExist" resultType="int">
        select ifnull((select 1 from t_tag where tag_name = #{tagName} limit 1), 0)
    </select>

    <select id="selectCounts" resultType="int">
        select count(*) from t_tag
    </select>
</mapper>